#banner
  .banner_content
    %h1 Note Note
    %p Your Online Notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The Best you have ever seen. period."
    %p.name - Ian Struggle


#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Ian
        %p Organic knausgaard woke 3 wolf moon plaid keffiyeh. Before they sold out copper mug master cleanse bushwick cloud bread air plant. 3 wolf moon jean shorts echo park cloud bread occupy readymade, williamsburg forage offal dreamcatcher tumeric knausgaard.
      .callout
        %h2 likono
        %p Organic knausgaard woke 3 wolf moon plaid keffiyeh. Before they sold out copper mug master cleanse bushwick cloud bread air plant. 3 wolf moon jean shorts echo park cloud bread occupy readymade, williamsburg forage offal dreamcatcher tumeric knausgaard.
      .callout
        %h2 Wisdom
        %p Organic knausgaard woke 3 wolf moon plaid keffiyeh. Before they sold out copper mug master cleanse bushwick cloud bread air plant. 3 wolf moon jean shorts echo park cloud bread occupy readymade, williamsburg forage offal dreamcatcher tumeric knausgaard.


#bottom_cta
  .wrapper
    %h2 For Realz Guyz!
    %p I want you to Sign Up...Dont say i didnt tell you! wink:)
    %button= link_to "Click Meee!!!", new_user_registration_path


%footer
  %p &copy; Ian Likono
